@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');
* {
    font-family: 'Alata', sans-serif;
}

body {
    background-color: #96daf9;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 10px 0;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container > * {
    width: 100vw;
}

.main {
    background-color: white;
    padding: 10px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main > * {
    margin: 5px;
}

.album-art {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}

.text-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.radio-title { 
    margin: 0;
    padding: 5px;
}

.content { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.code > textarea {
    width: 50vw;
    min-height: 400px;
    max-height: 100%;
}

.code {
    margin-bottom: 100px;
}